@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1700px;
    padding: 0 80px;
    margin: auto;
}

/* ---------------------------------- */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 25px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
}

.navbar .logo a img {
    width: 100px;
}

.navbar.sticky {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 2px 10px -2px #111;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .menu li {
    list-style: none;
    display: inline-block;
}


.navbar .menu li a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    transition: color 0.4s ease;
}


.navbar .menu li a:hover {
    color: #999;
}


.navbar.sticky .menu li a:hover {
    color: #999;
}


.menu-btn {
    color: #111;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1100px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 80px;
        transition: 0.7s;
    }

    .navbar .menu.active {
        right: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

@media(max-width: 896px) {
    .max-width {
        padding: 0 40px;
    }
    .navbar .logo a img {
        width: 50px;
    }
}

/* ---------------------------------- */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.img-slider {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: rgba(14, 5, 5, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.img-slider .navigation .btn.active {
    background: #cc2929;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
    .img-slider {
        width: 600px;
        height: 375px;
    }

    .img-slider .navigation {
        bottom: 25px;
    }

    .img-slider .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px) {
    .img-slider {
        width: 400px;
        height: 250px;
    }

    .img-slider .navigation {
        bottom: 15px;
    }

    .img-slider .navigation .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px) {
    .img-slider {
        width: 320px;
        height: 200px;
    }

    .img-slider .navigation {
        bottom: 10px;
    }
}

/* ---------------------------------- */
