@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 60px;
}


section .title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 4px;
    background: #1a1a1a;
    transform: translateX(-50%);
}

.max-width {
    max-width: 1700px;
    padding: 0 80px;
    margin: auto;
}

/* ---------------------------------- */


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1700px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo a img {
    width: 100px;
}

.navbar.sticky {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: rgb(94, 92, 92);
}

.icon {
    color: #111;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 40px;
    top: 35px;
}


/* ---------------------------------- */


.container {
    background: url("img/Background.png") no-repeat center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-slider {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.img-slider .navigation .btn {
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}


/* ---------------------------------- */


.Profile {
    background: #cc0000;
}

.Profile .max-width .title {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.Profile .max-width .Profile-content p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: justify;
}

.Profile .max-width .Profile-content span {
    font-weight: bold;
}


/* ---------------------------------- */


.vs {
    background: #F5F5F6;
    padding: 100px 0;
}

.vs .max-width .title {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
}

.vs .max-width .visi-misi {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vs .max-width .visi-misi .card {
    padding: 30px;
    width: calc(50% - 20px);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(83, 83, 83, 0.75);
    background: #fff;
}

.vs .max-width .visi-misi .card i {
    font-size: 75px;
    color: #3498db;
}

.vs .max-width .visi-misi .card .head {
    margin: 10px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.vs .max-width .visi-misi .card .text {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------- */


/* -----------------------M.Q.----------------------- */
@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }

    .max-width {
        padding: 0 30px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }

    .max-width {
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }

    .max-width {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        right: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #fff;
        box-shadow: 0px 0px 10px #232931;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        right: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-right: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-right: 0px;
    }

    .img-slider {
        width: 600px;
        height: 375px;
    }

    .img-slider .navigation {
        bottom: 25px;
    }

    .img-slider .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 763px) {
    .Profile .max-width .title {
        font-size: 50px;
    }

    .Profile .max-width .Profile-content p {
        font-size: 18px;
    }
}

@media (max-width: 620px) {
    .img-slider {
        width: 400px;
        height: 250px;
    }

    .img-slider .navigation {
        bottom: 15px;
    }

    .img-slider .navigation .btn {
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px) {
    .img-slider {
        width: 320px;
        height: 200px;
    }

    .img-slider .navigation {
        bottom: 10px;
    }
}
