    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}
@@ -51,120 +50,164 @@ section .title:before {
}

/* ---------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1700px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

.navbar .logo a img {
    width: 100px;
}

.navbar.sticky {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 2px 10px -2px #111;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .max-width {
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
.navbar .menu-list {
    display: inline-flex;
}

.navbar .menu li a {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.4s ease;
.menu-list li {
    list-style: none;
}

.navbar .menu li a:hover {
    color: rgb(94, 92, 92);
.menu-list li a {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.navbar.sticky .menu li a:hover {
.menu-list li a:hover {
    color: rgb(94, 92, 92);
    ;
}

.menu-btn {
.icon {
    color: #111;
    font-size: 23px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1100px) {
    .menu-btn {
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    .icon.hide {
        display: none;
    }

    .navbar .menu {
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        right: -100%;
        top: 0;
        background: #fff;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.7s;
        background: #fff;
        box-shadow: 0px 0px 10px #232931;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        right: 0;
    .navbar.show .menu-list {
        right: 0%;
    }

    .navbar .menu li {
        display: block;
    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    .navbar .menu-list li a {
        font-size: 23px;
        margin-right: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}

@media(max-width: 896px) {
    .max-width {
        padding: 0 40px;
    }

    .navbar .logo a img {
        width: 90px;
    .navbar.show .menu-list li a {
        margin-right: 0px;
    }
}

/* ---------------------------------- */

.container {
    background: url("img/Background.png") no-repeat center;
    background: url("img/Background.png") no-repeat;
    height: 100vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-slider {
@@ -204,19 +247,14 @@ section .title:before {
}

.img-slider .navigation .btn {
    background: rgba(14, 5, 5, 0.5);
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: #cc2929;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
    .img-slider {
        width: 600px;
